# this module needed for install postgres and requiremenets

# uncomments, if you need to upgarde system
# - name: Upgrade the OS (apt-get dist-upgrade)
#   ansible.builtin.apt:
#     upgrade: dist

- name: Update all packages to their latest version
  ansible.builtin.apt:
    name: "*"
    state: latest
    update_cache: yes

- name: Install python3-psycopg2 (required for Ansible PostgreSQL modules)
  apt:
    name: python3-psycopg2
    state: present
    update_cache: yes

- name: install basic utils
  ansible.builtin.apt:
    name:
      - gnupg2 
      - curl 
      - ca-certificates 
      - lsb-release 
      - sudo 
      - vim
    state: latest
    update_cache: yes

- name: Install postgresql-common
  ansible.builtin.apt:
    name: postgresql-common
    state: present

- name: Add PostgreSQL GPG key
  apt_key:
    url: https://www.postgresql.org/media/keys/ACCC4CF8.asc
    state: present

- name: Add PostgreSQL PGDG repository
  apt_repository:
    repo: "deb http://apt.postgresql.org/pub/repos/apt {{ ansible_distribution_release }}-pgdg main"
    state: present

- name: Update apt cache after PGDG
  ansible.builtin.apt:
    update_cache: yes

- name: Install PostgreSQL 16
  ansible.builtin.apt:
    name:
      - postgresql-16
      - postgresql-client-16
      - postgresql-contrib
    state: present
