- name: postgres data dir
 # у меня воркает только так, через shell, можно через ansible.buildin.command
  shell: su - postgres -c "/usr/lib/postgresql/16/bin/initdb -D {{ logical_data_dir }}"
  args:
    creates: "{{ logical_data_dir }}/PG_VERSION"

- name: Create directory for custom configurations
  ansible.builtin.file:
    path: "{{ logical_data_dir }}/conf.d"
    state: directory
    owner: postgres
    group: postgres
    mode: '0750'

- name: Copy our custom configuration snippet
  ansible.builtin.copy:
    src: custom.conf 
    dest: "{{ logical_data_dir }}/conf.d/01-custom.conf"
    owner: postgres
    group: postgres
    mode: '0640'


- name: Enable custom configurations in the main postgresql.conf
  ansible.builtin.lineinfile:
    path: "{{ logical_data_dir }}/postgresql.conf"
    line: "include_dir = 'conf.d'"
    regexp: "^#?include_dir"
    state: present


- name: Process template and copy our custom access rules (pg_hba.conf)
  ansible.builtin.copy: 
    src: pg_hba.conf
    dest: "{{ logical_data_dir }}/pg_hba.conf"
    owner: postgres
    group: postgres
    mode: '0640'


- name: Stop PostgreSQL server if it is running (ignore errors)
  ansible.builtin.shell: "su - postgres -c '/usr/lib/postgresql/16/bin/pg_ctl stop -D {{ logical_data_dir }} -m fast'"
  failed_when: false # Никогда не падать, даже если сервис был остановлен
  changed_when: false # Эта задача не меняет состояние, а подготавливает его

- name: Start PostgreSQL server with our configuration
  ansible.builtin.shell: "su - postgres -c '/usr/lib/postgresql/16/bin/pg_ctl start -D {{ logical_data_dir }} -l {{ logical_data_dir }}/logfile'"
  register: start_result
  changed_when: "'server started' in start_result.stdout"


- name: Wait for PostgreSQL to become ready
  ansible.builtin.wait_for:
    path: /var/run/postgresql/.s.PGSQL.5432
    state: present
    timeout: 30


# проверка работы sudo -u postgres /usr/lib/postgresql/16/bin/pg_ctl status -D /pg_data/16