<!DOCTYPE html>
<html>
<head><title>Load Balancer rrobin</title></head>
<body>
<h1>Round Robin Load Balancer</h1>
<p>Запросы распределяются между:</p>
<ul>
<li>web1: 158.160.195.113:80</li>
<li>web2: 158.160.220.208:80</li>
</ul>
</body>
</html>
