apiVersion: v1
kind: Service
metadata:
  name: ser-exporter
  namespace: postgres
  labels:
    app: dep-pg
spec:
  selector:
    app: dep-pg
  ports:
  - name: metrics
    port: 9187
    targetPort: 9187
