# #SPDX-License-Identifier: MIT-0
# ---
# # tasks file for nginx

# # needed for upgrade packages

# - name: Upgrade the OS (apt-get dist-upgrade)
#   ansible.builtin.apt:
#     upgrade: dist

# #bash script for delete nginx and clear install:
# # sudo bash -c 'systemctl stop nginx||true && apt purge nginx* -y && apt autoremove -y && rm -rf /etc/nginx /var/log/nginx /var/www/html && apt update && apt install nginx -y && systemctl enable --now nginx'


# # - name: stop nginx
# #   ansible.builtin.service:
# #     name: nginx
# #     state: stopped
# #     enabled: false

# # - name: delete nginx
# #   ansible.builtin.apt:
# #     name: nginx
# #     state: absent

# - name: Update all packages to their latest version
#   ansible.builtin.apt:
#     name: "*"
#     state: latest
#     update_cache: yes

# - name: Install nginx
#   ansible.builtin.apt:
#     name: nginx
#     state: latest
#     allow_downgrade: yes

# - name: copypast nginx conf
#   copy:
#     src: nginx-web1.conf
#     dest: /etc/nginx/nginx.conf
#   notify:
#     - restart nginx
#   tags:
#     - nginx-configuration

# - name: change nginx conf
#   template:
#     src: index.html.j2
#     dest: /usr/share/nginx/html/index.html
#   notify:
#     - restart nginx
#   tags:
#     - nginx-configuration

# - name: start nginx
#   ansible.builtin.service:
#     name: nginx
#     state: started
#     enabled: yes



---
- name: Install EPEL Repo package from standard repo
  yum:
    name: epel-release
    state: present

- name: install  nginx
  yum:
    name: nginx
    state: latest
  tags:
      nginx-package
      packeges
- name: copypast nginx conf
  copy:
    src: nginxweb1.conf
    dest: /etc/nginx/nginx.conf
  notify:
    - restart nginx
  tags:
    - nginx-configuration
    
- name: change html
  template:
    src: index.html.j2
    dest: /usr/share/nginx/html/index.html
  notify:
    - restart nginx
  tags:
    - nginx-configuration

- name: stop fw
  systemd:
    name: firewalld
    state: stopped
    enabled: no