- name: Update all packages to their latest version
  ansible.builtin.apt:
    name: "*"
    state: latest
    update_cache: yes

- name: Install postgres
  ansible.builtin.apt:
    name: postgresql
    state: latest
    allow_downgrade: yes

- name: start postgres
  ansible.builtin.service:
    name: postgresql
    state: started
    enabled: yes

# - name: stop fw
#   systemd:
#     name: firewalld
#     state: stopped
#     enabled: no