# tasks file for nginx

# - name: Upgrade the OS (apt-get dist-upgrade)
#   ansible.builtin.apt:
#     upgrade: dist

- name: Update all packages to their latest version
  ansible.builtin.apt:
    name: "*"
    state: latest
    update_cache: yes

# - name: Install nginx
#   ansible.builtin.apt:
#     name: nginx
#     state: latest
#     allow_downgrade: yes

- name: copypast nginx conf
  copy:
    src: nginx.cfg
    dest:  /etc/nginx/sites-available/nginx.cfg
  become: yes 

- name: Create symlink
  file:
    src: /etc/nginx/sites-available/nginx.cfg
    dest: /etc/nginx/sites-enabled/default
    state: link
  become: yes


- name: start nginx
  ansible.builtin.service:
    name: nginx
    state: started
    enabled: yes

# - name: restarted nginx
#   service: 
#     name: nginx
#     state: restarted
#   become: yes

