
- name: Upgrade the OS (apt-get dist-upgrade)
  ansible.builtin.apt:
    upgrade: dist

- name: Update all packages to their latest version
  ansible.builtin.apt:
    name: "*"
    state: latest
    update_cache: yes

- name: Install postgresql-common
  apt:
    name: postgresql-common
    state: present

# данный таск добавляет официальный репозиторий PostgreSQL PGDG
- name: Run PGDG setup script
  command: /usr/share/postgresql-common/pgdg/apt.postgresql.org.sh
  args:
    creates: /etc/apt/sources.list.d/pgdg.list

- name: Update apt cache after PGDG script
  apt:
    update_cache: yes

- name: Install PostgreSQL and contrib
  apt:
    name:
      - postgresql
      - postgresql-contrib
    state: present
