# - name: Stop PostgreSQL
#   service:
#     name: postgresql
#     state: stopp

- name: postgres data dir
  become_user: postgres
  command: "/usr/lib/postgresql/16/bin/initdb -D /pg_data/16" # Команда `initdb` создает новую систему баз данных Postgres 
  args:
    creates: /pg_data/16/PG_VERSION

- name: add postgre conf
  copy:
    src: postgresql.conf
    dest: /etc/postgresql/16/main/postgresql.conf

- name: add pg_hba conf
  copy:
    src: pg_hba.conf # это основной конфигурационный файл PostgreSQL, отвечающий за безопасность и аутентификацию клиентов 
    dest: /etc/postgresql/16/main/pg_hba.conf

- name: start postgres
  ansible.builtin.service:
    name: postgresql
    state: start
    enabled: yes

- name: create user and db pgbench 
  become_user: postgres
  postgresql_db:
    name: bench

- name: Create pgbench user
  become_user: postgres
  postgresql_user:
    name: pgbench
    password: pgbench_pass
    priv: "ALL"
    db: bench
