apiVersion: apps/v1
kind: Deployment
metadata:
  name: web-app
  namespace: app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: web-app
  template:
    metadata:
      labels:
        app: web-app
    spec:
      containers:
        - name: hello
          image: lendy1/laba3-flask:latest
          ports:
            - containerPort: 8000
          envFrom:
          - secretRef:
              name: sec-app
          resources:
            requests:
              memory: "32Mi"
              cpu: "100m"
            limits:
              memory: "512Mi"
              cpu: "500m"
      {# imagePullSecrets:
      - name: regcred   #}
